
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  color: #333;
}


#outputArea {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

h3, p, table {
    background-color: aqua;
    color:rgb(10, 15, 0);
}

h3 {
    text-align: center;
}

