.container {
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
}
.header, .footer {
    width: 100vw;
    text-align: center;
    background-color: aqua;
    padding: 10px;
}
.mainWindow{
    display: flex;
    background-color: beige;
    /* take up all the vertical space available */
    flex:1 
}

.leftMenu {
    background-color: bisque;
    display: flex;
    width: 20vw;
    align-items: flex-start;
    flex-direction: column;
    justify-items:center;
    padding: 10px;
}
nav {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
}
nav:hover {
    cursor: pointer;
    background-color: #8d8d8d;
}
.toolWindow {
    background-color: blanchedalmond;
    flex:1;
    padding: 20px;
}