body {
    font-family: monospace;
}
.container {
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-color: #0d0d0c;
    color: white;
    /* font-family: Arial, Helvetica, sans-serif; */

}
.header, .footer {
    width: 100vw;
    text-align: center;
    font-size: 1.3em;
 
}
.mainWindow{
    display: flex;
    /* take up all the vertical space available */
    flex:1 
}

#leftMenu {
    
    display: flex;
    width: 10vw;
    align-items: flex-start;
    flex-direction: column;
    justify-items:center;
    padding: 10px;

}
nav {
    width: 10vw;
    padding: 10px;
}

nav:hover {
    cursor: pointer;
    background-color: #44e28e;
    color: black;
}
.toolWindow {
    flex:1;
    padding: 20px;
    background-color: #413f3f;
}
.header-label {
    display: flex;
    align-items: center; /* Vertically center the h2 */
    gap: 10px; /* Space between image and text */
}

.header-label img {
    width: 44px;
    height: 44px;
}

.header-label h2 {
    margin: 0;
    font-size: 1.5em;
    flex-grow: 1;
    text-align: center;
}
#menuImage {
    margin:20px;
    background-color: white;
}
#menuImage:hover {
    cursor: pointer;
    background-color: white;

}
.mandatoryFormFields, .optionalFormFields{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.submitButton {
    width:100%;
    background-color: rgb(74, 75, 75);
    padding: 5px;
    margin-bottom: 1%;
    cursor: pointer;
    color: whitesmoke;
}
.submitButton:hover {
    background-color: #44e28e;

}
.submitButton, .button-label {
    
    background-color:#3A86FF; /* Primary blue */
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: fit-content;
    margin: 5px;

}
.submitButton:hover {
    background-color: #0056b3; /* Darker blue */
    transform: translateY(-2px);

}
#request_headers, #request_cookies, #geoByHostInput {
    display: none;
    margin-bottom: 1%;
}

.formSubmitButton {
    width: 100%;
    border-radius: 10px;
    border-color: rgb(248, 242, 242);
    background-color: #7d7d7b;
    color: white;
}

#summary {
    font-size: 1.3em;
    background-color: rgb(122, 165, 182);
    color: black;
    padding: 10px;
}

table,th, td  {
    border: 1px solid rgb(217, 216, 216);
    border-collapse: collapse;
    padding: 5px;

}


input {
  background-color: whitesmoke;
  border: 1px solid #555;
  padding: 10px 14px;
  border-radius: 6px;
  font-size: 16px;
  color: #111111;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus {
  border-color: #3A86FF;
  box-shadow: 0 0 0 2px rgba(58, 134, 255, 0.3);
}

