
<div id="inputFormArea">
    <h3>Debug URL</h3>
    <form method="POST" action="/debug-url" id="debugUrlForm">
        <div class="mandatoryFormFields" >
            <label for="hostname">Hostname</label>
            <input type="text" id="hostname" name="hostname" pattern="\S*[.]\S*" title="Enter a valid hostname" required>
            <label for="path"> Path</label>
            <input type="text" id="path" name="path" pattern="^\/\S*" title="Enter a valid path starting with a /"  required>
            <p>Network</p>
            <div class="radio-group">
                <label>
                    <input type="radio" value="staging" name="network" id="network_staging">Staging
                </label> 
                <label>
                    <input type="radio" value="production" name="network" id="network_production" checked >Production
                </label>
                
            </div>
        </div>
        <div class="optionalFormFields">
            <label for="request_headers" class="button-label" id="addReqHeadersButton">Add Request Headers</label>
            <textarea rows="5" cols="50" type="text" name="request_headers" placeholder="Enter Headers ( one per line , in name:value format)" id="request_headers" ></textarea>
            <label for="request_cookies" class="button-label" id="addReqCookiesButton">Add Request Cookies</label>
            <textarea rows="5" cols="50" name="request_cookies" id="request_cookies" placeholder="Enter cookies (one per line, in name=value format)"></textarea>
        </div>
        <input type="submit" id="debugUrlFormSubmit" name="formSubmit" class="submitButton" >
        
    </form>
</div>



