
    <div id="inputFormArea">
        <h3>Debug URL</h3>
        <form method="POST" action="/debug-url" id="inputForm">
            <div class="mandatoryFormFields" >
                <label for="hostname">Hostname</label>
                <input type="text" id="hostname" name="hostname" pattern="\S*[.]\S*" title="Enter a valid hostname" required>
                <label for="path"> Path</label>
                <input type="text" id="path" name="path" pattern="^\/\S*" title="Enter a valid path starting with a /"  required>
                <p>Network</p>
                <div class="radio-group">
                    <label>
                        <input type="radio" value="staging" name="network" id="network_staging">Staging
                    </label> 
                    <label>
                        <input type="radio" value="production" name="network" id="network_production" checked >Production
                    </label>
                    
                </div>
            </div>
            <div class="optionalFormFields">
                <label for="request_headers" class="button-label" id="addReqHeadersButton">Add Request Headers</label>
                <textarea rows="5" cols="50" type="text" name="request_headers" placeholder="Enter Headers ( one per line , in name:value format)" id="request_headers" ></textarea>
                <label for="request_cookies" class="button-label" id="addReqCookiesButton">Add Request Cookies</label>
                <textarea rows="5" cols="50" name="request_cookies" id="request_cookies" placeholder="Enter cookies (one per line, in name=value format)"></textarea>
            </div>
            <input type="submit" id="debugUrlFormSubmit" name="formSubmit" class="button-label" >
            </div>
        </form>
    </div>
    
    <div classs="outputArea">
        <div id="summary" style="display: block;">
            
        </div>
        <div  id="rawHeaders" >
            <!-- We iterate through the output variable to populate different sections -->
            {% if output !='' %}
                {%  for category,headers in output.items() %}
                    <!-- the replace function make general_headers look nicer with first words capitalized and _ replaced by space -->
                    <h3>{{category.replace('_',' ').title() }}</h3> 
                    <table class="headerTable">
                        <thead>
                            <tr>
                                <td>Header</td>
                                <td>Value</td>
                            </tr>
                            
                        </thead>
                        <tbody>
                            {% for header in headers %}
                                {% if ":" in header %}
                                    {% set name, value = header.split(":",1) %}
                                        <tr>
                                            {% if name.strip()=="Set-Cookie" %}
                                                {% for c in value.split(", ") %}
                                                    <tr>
                                                        <td>Set-Cookie</td>
                                                        <td id="{{c}}">{{c}}</td>
                                                    </tr>
                                                {% endfor %}
                                            {% elif name.strip()=="X-Akamai-Session-Info" %}
                                                
                                                {% for h in value.strip().split(', ') %}
                                                    <tr>
                                                        {% set header_name=h.split('; ')[0] %}
                                                        <td >{{header_name}}</td>
                                                        <td id="{{header_name}}">{{ h.split('; ')[1] }}</td>
                                                    </tr>
                                                {% endfor %}
                                            {% else %}
                                                <td >{{name.strip()}}</td>
                                                <td id="{{name.strip()}}">{{value.strip()}}</td>
                                            {% endif %}
                                        </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                {% endfor %}
            {% endif %}

        </div>
        
        
    </div>
    
