{% extends "base.html" %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{url_for('static', filename="styles.css")}}">
    <!-- <link rel="stylesheet" href="{{url_for('static', filename="learn-styles.css")}}"> -->
{% endblock %}
{% block content %}
<div class="container">
    <div class="header">
    <label class="button-label">Digital Akamai Tools</label>
    </div>
    <div class="mainWindow">
        <div class="leftMenu">

            <nav id="debugUrl">Debug URL</nav>
            <nav id="originCertCheck">Check Origin Certificate</nav>
        </div>
        <div class="toolWindow" id="toolArea">
            
            <p> Tool window </p>
            
        </div>

    </div>
    
    <div class="footer">
        <label class="button-label"> footers </label>
    </div>
</div>

{% endblock %}