{% extends "base.html" %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{url_for('static', filename="styles.css")}}">
    <!-- <link rel="stylesheet" href="{{url_for('static', filename="learn-styles.css")}}"> -->
{% endblock %}
{% block content %}
<div class="container">
    <div class="header" style="display: flex; flex-direction: row;">
        <label class="header-label">
            <img src="static/menu.svg" width="44" height="44" id="menuImage">
            <h2>Digital Akamai Tools</h2>
        </label>
       
    </div>
    <div class="mainWindow">
        <div id="leftMenu">

            <nav id="debugUrl">Debug URL</nav>
            <nav id="originCertCheck">Check Origin Certificate</nav>
            <nav id="geo-location-finder">Find Geographic Location</nav>
        </div>
        <div class="toolWindow" id="toolArea">
            
            <p> Tool window </p>
            
        </div>

    </div>
    
    <div class="footer">
        <label > footers </label>
    </div>
</div>

{% endblock %}