<!DOCTYPE html >


<head>
    <title>Akamai Debugger</title>
    <link rel="stylesheet" href="{{url_for('static', filename="styles.css")}}">
    <script src="{{url_for('static', filename="main.js")}}"></script>
</head>
<body>
    <h2>Akamai Debug Information</h2>
    <div id="inputFormArea">
        <form method="POST" action="/akamai-curl" id="inputForm">
            <label for="hostname">Hostname</label><br>
            <input type="text" id="hostname" name="hostname" pattern="\S*[.]\S*" title="Enter a valid hostname" required><br><br>
            <label for="path"> Path</label><br>
            <input type="text" id="path" name="path" pattern="^\/\S*" title="Enter a valid path starting with a /"  required><br><br>
            <p>Network</p>
            <div class="radio-group">
                <label>
                    <input type="radio" value="staging" name="network" id="network_staging">Staging
                </label> 
                <label>
                    <input type="radio" value="production" name="network" id="network_production" >Production
                </label>
                
            </div><br>
            <label for="request_headers">Request Headers</label><br>
            <textarea rows="5" cols="10" type="text" name="request_headers" placeholder="Enter Headers ( one per line , in name:value format)" id="request_headers"></textarea><br><br>
            <label for="request_cookies">Request Cookies</label><br>
            <textarea rows="10" cols="50" name="request_cookies" id="request_cookies" placeholder="Enter cookies (one per line, in name=value format)"></textarea><br><br>
            
        <input type="submit" id="formSubmit" name="formSubmit" ><br>
            
        </form>
    </div>
    <div id="outputArea">
        <button id="rawHeaders">Raw Headers</button>
        <div  id="rawHeadersOutput">
            {% if output !='' %}
                {%  for category,headers in output.items() %}
                    <h3>{{category.replace('_',' ').title() }}</h3>
                    <table border="1" >
                        <thead>
                            <tr>
                                <td>Header</td>
                                <td>Value</td>
                            </tr>
                            
                        </thead>
                        <tbody>
                            {% for header in headers %}
                                {% if ":" in header %}
                                    {% set name, value = header.split(":",1) %}
                                        <tr>
                                            {% if name.strip()=="Set-Cookie" %}
                                                {% for c in value.split(", ") %}
                                                    <tr>
                                                        <td>Set-Cookie</td>
                                                        <td>{{c}}</td>
                                                    </tr>
                                                {% endfor %}
                                            {% elif name.strip()=="X-Akamai-Session-Info" %}
                                                <!-- <tr><td>{{value.strip()}}</td></tr> -->
                                                {% for h in value.strip().split(', ') %}
                                                    <tr>
                                                        {% set header_name=h.split('; ')[0] %}
                                                        <td >{{header_name}}</td>
                                                        <td id="{{header_name}}">{{ h.split('; ')[1] }}</td>
                                                    </tr>
                                                {% endfor %}
                                            {% else %}
                                                <td >{{name.strip()}}</td>
                                                <td id="{{name.strip()}}">{{value.strip()}}</td>
                                            {% endif %}
                                        </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                {% endfor %}
            {% endif %}

        </div>
        
    </div>

</body>
    
    
</html>