<div class="outputArea">
    <div id="summary" style="display: block;">
        <p>Add summary here</p>
    </div>
    <div id="rawHeaders">
        {% if output !='' %}
            {%  for key,cert_details in output.items() %}
                {% if  key == 0 %}
                    <table>
                        <h2 class="headings">Leaf Certificate</h2>
                        {% for attribute,value in cert_details.items() %}
                            <tr>
                                <td>{{attribute}}</td>
                                <td>{{value}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    

                {% endif %}
                {% if  key == 1 %}
                    <table>
                        <h2 class="headings">Intermediate Certificate</h2>
                        {% for attribute,value in cert_details.items() %}
                            <tr>
                                <td>{{attribute}}</td>
                                <td>{{value}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    

                {% endif %}
                {% if  key == 10 %}
                    <table>
                        <h2> Raw certificates</h2>
                        <td>{{cert_details}}</td>
                    </table>
                    

                {% endif %}
            {% endfor %}
        {% endif %}
    </div>  
</div>